@charset "UTF8";
body{
    /*height: 100vh;
    background-color: black;
    background-image: url("imagens/wallpaper002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    /* shorthand - background
       color > image > position > [size] > attachment
    */
    background:black url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 700px;
    padding:10px;
    margin: auto;
    border: 1px solid rgba(57, 57, 162, 0.383);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 9px rgba(57, 57, 162, 0.327);
}