@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#BF665E,#F28157 );
}
main{
    border-radius: 10px;
    background-color: white;
    height: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #75403ca2;
}

h1{
color: #253659;
text-align: center;
text-shadow: 1px 1px 0px #141d33b0;
}

h2{
color: #03A696;
}

p{
    text-align: justify;
}